
body {
	padding: 0;
	margin: 0;
}

#options {
	position: fixed;
	top: 0;
	width: 20%;

	div {
		margin: 10px;
	}
}

#sheet {
	position: absolute;
	top: 0;
	width: 50%;
	left: 25%;
	right: 25%;
}

#notes {
	position: fixed;
	top: 0;
	width: 20%;
	right: 0%;

	.note {
		border-bottom: 3px solid black;
		margin-top: 25px;
		background-color: lightgrey;
		padding: 8px;

		textarea {
			width: 100%;
			resize: none;
			border: none;
			background-color: lightgrey;
		}
	}
}

#main_attributes {
	width: 100%;
}

#name {
	border: none;
	display: block;
	font-size: 35px;
}


[hide_modifiers="true"] .modifier{
	display: none;
}

[hide_ability_description="true"] .ability .description {
	display: none;
}

.fm {
	display: flex;
	align-items: start;
}

.PRIME {
	text-align: center;
	input {
		width: 30px;
	}
}

.atts{
	border: 1px solid black;
	font-family: monospace;
	font-size:  0;

	// width: 20%;
	// display: inline-block;
	margin: 0;
	box-sizing: border-box;

	* {
		font-size:  15px;
	}
	
	input, input:focus, input:hover, .sum {
		border: none;
		outline: none;
		font-family: monospace;
		
		// margin-left: 10px;
		// margin-right: 10px;
		box-sizing: border-box;
		width: 35px;

		text-align: center;
	}

	p {
		.sum, label {
			// width: 30px;
			// margin: 0;
			display: block;
			width: 35px;

		}
	}

	.label {
		padding-left: 5px;
		padding-right: 5px;
		// width: 20%;
		box-sizing: border-box;
	}

	.secondary {
		width: 50%;
		display: inline-block;
		margin: 0;
		box-sizing: border-box;

		input {
			width: 35%;
		}
	}
}

.clickbox {
	cursor: pointer;
}

.clickbox:hover {
	background-color: lightgrey;
}

.senses, .movement{
	.inner {
		display: flex;

		div {
			margin: 5px;
			padding: 5px;
		}

		.sense {
			border: 1px solid black;
			border-radius: 5%;
		}
		
		p {
			margin: 0px;
		}
	}
}

.atts.TER{
	display: block;
}

input.mod {
	width: 30px;
}

#weapons {
	// border-collapse: collapse;
	// border: 1px solid black;

	td {
		border: 1px solid black;
		border-radius: 5px;
	}
	
	p {
		margin: 0px;
	}

	.weapon {
		

		input {
			border: none;
			border-bottom: 1px solid black;
			margin-right: 0px;
			background-color:rgba(0, 0, 0, 0);
		}


		td:not(.name) input {
			width: 30px;
			text-align: center;
		}

		input.dice {
			text-align: right;
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#resistances {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;

	.resistance {
		width: 150px;

		input[type="number"] {
			width: 30px;
		}

		span {
			display: inline-block;
			width: 50px;
		}
	}
}

#vitals {
	// width: 50%;

	border: 1px solid black;

	.bar td {

		// height: 80px;
		width: 500px;
	
	
		.wrapper {
			
			position: relative;
			width: 100%;
			height: 30px;
	
			.text {
				background-color: rgba(255, 255, 255, 0.75);
				border-radius: 10px;
				position: absolute;
	
				padding-left: 5px;
				padding-right: 5px;
				text-align: center;

				border: 1px solid black;
				box-sizing: border-box;
	
				// height: 50%;
				top: 15px;
				left: 30%;
				right: 30%;

				input {
					border: none;
					background-color: rgba(0, 0, 0, 0);
				}
			}
	
			meter {
				// -webkit-appearance: none;
				position: absolute;
				height: 50px;
				width: 100%;
			}
	
			.current {
				text-align: right;
			}
	
		}
	
	}

	meter::-webkit-meter-bar {
		transition: background-color 0.2s ease;
	}
	meter[alert=true]::-webkit-meter-bar {
		background-color: red;
		transition: background-color 0;
	}

	.stamina meter::-webkit-meter-optimum-value {
		background-color: orange;
	}
	
	.mana meter::-webkit-meter-optimum-value {
		background-color: lightblue;
	}
	
}

.ability {

	position: relative;

	.ability {
		margin-left: 5%;
		border: none;

		[name=name] {
			width: 185px;
		}
	}

	.fake.ability {

		.inner {
			height: 43px;
		}

		select {
			width: 85%;
		}

		.select2-selection {
			height: 40px;
			background-color: rgba(100, 100, 100, 0.0);
			border: none;
		}

		.select2-selection__rendered, .select2-selection__placeholder {
			margin-top: auto;
			font-size: 20px;
			display: block;
			color: black;
		}
	}


	margin-top: 3px;
	padding-right: 5px;
	border-left: 3px solid black;
	position: relative;
	// border: 1px solid black;

	.inner {
		position: relative;
		// border-radius: 10px;
		// border-top: 1px solid black;
		border: 1px solid black;
		padding: 0;
		padding-left: 5px;
		border-radius: 0 10px 10px 0;
		display: inline-block;
		width: 89%;
		// background-color: rgba(159, 253, 198, 0.288);
	}

	.icon_align {
		// vertical-align: middle;
		display: inline-block;
		height: 100%;
		width: 3%;
	}

	.name {
		font-size: 20px;
		font-weight: bold;
		border: none;
		width: 200px;
		// background-color: grey;
		// color: #fff;
		// border-radius: 0 15px 15px 0;
		padding: 10px;
		background-color: rgba(0, 0, 0, 0);
	}

	.type {
		width: 150px;
		display: inline-block;
	}

	.info {
		margin-left: 5px;
		padding: 2px;
		border: 1px solid black;
		border-radius: 5px;
		cursor: default;
	}

	.mana:hover {
		background-color: lightblue;
		cursor: pointer;
	}

	.level {
		right: 0;
		top: 0;
		position: absolute;
		height: 100%;
		width: 75px;
		text-align: center;
		vertical-align: middle;
		display: inline-block;

		input {
			font-size: 20px;
			font-weight: bold;
			padding: 5px;
			background-color: rgba(0, 0, 0, 0);
			border: none;
			width: 40px;
			text-align: center;
		}
	}

	.description {
		margin-bottom: 5px;

		p {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	
	.delete_button {
		position: absolute;
		display: block;
		left: -35px;
		top: 1px;
	}
}

#inventory {
	.inner {
		display: flex;
		flex-wrap: wrap;

		.item {
			margin-left: 10px;
			background-color: lightgrey;

			border-left: 3px solid darkgrey;

			h3 {
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 1px;
				padding-right: 5px;
				background-color: darkgrey;
			}
			
			input {
				background-color: rgba(0, 0, 0, 0);
				border: none;
				font-weight: bold;
				font-size: 15px;
			}

			input[type="text"] {
				width: 60px;
			}

			textarea {
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				// font-family: fantasy;
				width: 100%;
				resize: none;
				border: none;
				background-color: rgba(0, 0, 0, 0);
				padding-top: 2px;
				padding-left: 5px;
				display: block;
			}

			textarea:placeholder-shown {
				display: none;
			}

			
		}

		.item:focus {
			textarea:placeholder-shown {
				display: block;
			}
		}
	}
}

#skills {
	border-collapse: separate;

	border-radius: 25px;

	text-align: center;

	.skill {
		tr {
			border: 2px solid black;
			border-radius: 25%;
		}

		td:not(.del) {
			margin-top: 10px;
			border: 1px solid grey;
			border-radius: 25%;
		}

		input:not([type="button"]) {
			text-align: center;
			border: none;
			width: 75px;
		}

		input[type=number] {
			text-align: center;
			border: none;
			width: 15px;
		}
	}
}

.inline {
	display: inline-block;
}

.popup {
	display: none;
}

div:hover > .popup, .popup:hover {
	position: absolute;
	left: 100%;
	top: -100%;
	display: block;
	z-index: 1;
	padding: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
}

.delete_button {
	background-color: rgb(189, 10, 10);

	input { 
		background-color: rgba(0, 0, 0, 0);
	}
}